@use "../utils/fonts" as fonts;
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../layout/flex" as flx;
@use "../base/typography" as font;
@use "../components/button" as btns;
.owl-carousel .owl-item img {
  width: none;
}

.section-hero {
  padding-top: 190px;
  background: url("../images/product/circle.png") no-repeat;
  background-position: right top;
  background-color: var.$color-0a2640;
  @media (max-width: 700px) {
    background: none;
    background-color: var.$color-0a2640;
  }
  .section-hero-page {
    @include mix.flex(center, space-between, 20);
    @media (max-width: 1125px) {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    h1 {
      max-width: 567px;
      @include fonts.font(400, 48, 72, 0, var.$color-ffffff);
      .dark & {
        @include fonts.font(400, 48, 72, 0, var.$color-65e4a3);
      }
    }
    p {
      padding-top: 16px;
      max-width: 576px;
      @include fonts.font(400, 16, 28, 0, var.$color-f1f1f1);
    }
    .section-hero-page-btns {
      padding-top: 40px;
      @include mix.flex(center, 0, 24);
      @media (max-width: 1125px) {
        justify-content: center;
      }
      @media (max-width: 506px) {
        flex-direction: column;
      }
      .section-hero-page-btn-1 {
        cursor: pointer;
        @include fonts.font(700, 20, 28, 0, var.$color-f1f1f1);
        padding: 16px 56px;
        border-radius: 56px;
        border: 2px solid var.$color-ffffff;
        background-color: var.$color-0a2640;
        transition: 0.3s;
        &:hover {
          @include fonts.font(700, 20, 28, 0, var.$color-0a2640);
          background-color: var.$color-65e4a3;
        }
      }
      .section-hero-page-btn-2 {
        cursor: pointer;
        @include fonts.font(700, 20, 28, 0, var.$color-f1f1f1);
        padding: 16px 56px;
        border-radius: 56px;
        border: 2px solid var.$color-ffffff;
        background-color: var.$color-0a2640;
        transition: 0.3s;
        &:hover {
          @include fonts.font(700, 20, 28, 0, var.$color-0a2640);
          background-color: var.$color-65e4a3;
        }
      }
    }
    .section-hero-page-image {
      img {
        width: 100%;
      }
    }
  }
  .section-hero-page-carousel {
    padding: 56px 0 64px 0;
    .item {
      img {
        width: 200px;
      }
    }
  }
}
.mass_market {
  .dark & {
    background-color: var.$color-0a2640;
  }
  .mass_menu-text-p {
    padding-top: 82px;
    margin: 0 auto;
    text-align: center;
    @include fonts.font(400, 20, 32, 0, var.$color-777777);
    .dark & {
      color: var.$color-ffffff;
    }
  }
  h2 {
    padding-top: 12px;
    margin: 0 auto;
    text-align: center;
    max-width: 844px;
    @include fonts.font(400, 48, 72, 0, var.$color-000000);
    @media (max-width: 545px) {
      margin-top: 20px;
      @include fonts.font(400, 30, 50, 0, var.$color-000000);
    }
    .dark & {
      color: var.$color-ffffff;
    }
  }
  .mass_market_cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 970px) {
      flex-direction: column;
      gap: 30px;
    }
    .mass_market_card {
      margin-top: 40px;
      @media (max-width: 970px) {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .mass_market_card-image {
        overflow: hidden;
        border-radius: 24px;
        max-width: 300px;
        img {
          width: 100%;
          border-radius: 24px;
          transition: transform 0.3s ease-in-out;
          display: block;
          transform-origin: center;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      h5 {
        margin-top: 24px;
        max-width: 293px;
        @include fonts.font(400, 24, 36, 0, var.$color-000000);
        .dark & {
          color: var.$color-ffffff;
        }
      }
      p {
        margin-top: 22px;
        max-width: 293px;
        margin-bottom: 28px;
        @include fonts.font(400, 20, 32, 0, var.$color-777777);
        color: var.$color-777777;
        .dark & {
          color: var.$color-ffffff;
        }
      }
      a {
        @include fonts.font(700, 20, 36, 0, var.$color-0a2640);
        position: relative;
        margin-bottom: 5px;
        transition: color 0.3s ease-in-out;
        .dark & {
          @include fonts.font(700, 20, 36, 0, var.$color-ffffff);
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: var.$color-0a2640;
          transition: width 0.3s ease-in-out;
          .dark & {
            background-color: var.$color-ffffff;
          }
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
.keep_open {
  position: relative;
  padding-bottom: 120px;
  .keep_open_pages {
    @include mix.flex(center, space-between, 150);
    @media (max-width: 1135px) {
      flex-direction: column;
    }
    .keep_open_page_img {
      @media (max-width: 500px) {
        @include mix.flex(center, start, 0);
      }
      position: relative;
      .kep_open_png {
        @media (max-width: 500px) {
          width: 95%;
          @include mix.flex(center, start, 0);
        }
      }
      img {
        padding-top: 185px;
      }
      .keep_card_diagramma {
        background-color: var.$color-ffffff;
        position: absolute;
        bottom: -100px;
        left: 150px;
        z-index: 9;
        padding-bottom: 30px;
        max-width: 251px;
        border-radius: 12px;
        box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
        @media (max-width: 465px) {
          left: 0px;
          max-width: 200px;
          height: 340px;
        }
        img {
          padding: 40px 40px 0 40px;
          @media (max-width: 465px) {
            padding: 10px 10px 0 10px;
          }
        }
        h5 {
          padding: 12px 0 0 40px;
          @include fonts.font(700, 24, 36.27, 0, var.$color-0a2640);
          .dark & {
            color: var.$color-ffffff;
          }
        }
        p {
          padding: 12px 0 0 40px;
          @include fonts.font(400, 14, 24, 0, var.$color-0a2640);
          .dark & {
            color: var.$color-ffffff;
          }
        }
        .dark & {
          background-color: var.$color-777777;
        }
      }
    }
    .keep_open_page_text {
      padding-top: 100px;
      h2 {
        max-width: 493px;
        @include fonts.font(400, 36, 56, 0, var.$color-000000);
        @media (max-width: 490px) {
          @include fonts.font(400, 26, 46, 0, var.$color-000000);
        }
        .dark & {
          color: var.$color-ffffff;
        }
      }
      .keep_checkbox_menu {
        padding-top: 40px;
        @include mix.flex(center, start, 27);
        p {
          max-width: 387px;
          @include fonts.font(400, 20, 32, 0, var.$color-000000);
          @media (max-width: 490px) {
            @include fonts.font(400, 15, 25, 0, var.$color-000000);
          }
          .dark & {
            color: var.$color-ffffff;
          }
        }
        .con input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .con {
          display: block;
          position: relative;
          cursor: pointer;
          font-size: 30px;
          user-select: none;
        }
        .checkmark {
          position: relative;
          top: 0;
          left: 0;
          height: 1.3em;
          width: 1.3em;
          border-radius: 50%;
          background: var.$color-ffffff;
          transition: all 0.2s ease;
        }
        .checkmark {
          opacity: 0.4;
          border: 4px solid var.$color-0a2640;
        }
        .con input:checked ~ .checkmark {
          background-color: var.$color-0a2640;
          opacity: 0.9;
          transition: all 0.2s ease;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .con input:checked ~ .checkmark:after {
          display: block;
        }
        .con .checkmark:after {
          left: 0.4em;
          top: 0.3em;
          width: 0.25em;
          height: 0.5em;
          border: solid rgb(255, 255, 255);
          border-width: 0 0.15em 0.15em 0;
          transform: rotate(45deg);
          .dark & {
            background-color: var.$color-0a2640;
          }
        }
      }
      button {
        margin-top: 56px;
        @include fonts.font(700, 20, 28, 0, var.$color-ffffff);
        padding: 16px 56px;
        background-color: var.$color-0a2640;
        border-radius: 56px;
        transition: 0.3s;
        &:hover {
          color: var.$color-65e4a3;
          background-color: var.$color-ffffff;
        }
      }
    }
  }
  .dark & {
    background-color: var.$color-0a2640;
  }
}

.stay_open {
  padding-bottom: 180px;
  position: relative;
  .dark & {
    background-color: var.$text-color;
  }
  .stay_open_pages {
    @include flx.flex(space-between, center, 150);
    @media (max-width: 1135px) {
      flex-direction: column;
    }
    .stay_open_page_text {
      margin-top: 226px;
      h2 {
        @include mix.width(493, 164);
        @include font.font(36, 400, 56);
        @media (max-width: 490px) {
          @include font.font(26, 400, 46);
        }
        .dark & {
          color: var.$bg-white;
        }
      }
    }
    .stay_consumer_cards {
      margin-top: 64px;
      .stay_consumer_card {
        margin-top: 24px;
        border-radius: 4px;
        box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
        padding: 16px 53px 16px 50px;
        @include flx.flex(0, center, 12);
        @include mix.width(500, 68);
        transition: 0.5s;
        background-color: var.$bg-white;
        &:hover {
          background-color: var.$bg-ink;
          color: var.$bg-white;
        }
        h3 {
          @include font.font(16, 600, 28);
          @media (max-width: 540px) {
            @include font.font(13, 600, 20);
          }
        }
      }
    }

    .stay_open_page_img {
      @media (max-width: 500px) {
        display: flex;
        justify-content: center;
      }
      position: relative;
      .stay_open_png {
        @media (max-width: 500px) {
          width: 95%;
        }
      }
      img {
        padding-top: 185px;
        @media (max-width: 1135px) {
          padding-top: 0px;
        }
      }
      .stay_card_diagramma {
        background-color: var.$bg-white;
        position: absolute;
        bottom: -100px;
        left: 150px;
        padding-bottom: 30px;
        @include mix.width(251, 388);
        border-radius: 12px;
        box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
        @media (max-width: 465px) {
          left: 0px;
          @include mix.width(200, 340);
        }
        .dark & {
          background-color: var.$bg-grey;
        }
        img {
          padding: 40px 40px 0 40px;
          @media (max-width: 465px) {
            padding: 10px 10px 0 10px;
          }
        }
        .stay_menu {
          padding: 15px 0 0 15px;
          @include flx.flex(0, center, 10);
        }
        .bg_color_1 {
          width: 4.97px;
          height: 4.96px;
          border-radius: 50%;
          background-color: var.$bg-green;
        }
        .bg_color_2 {
          width: 4.97px;
          height: 4.96px;
          border-radius: 50%;
          background-color: var.$bg-grey;
        }
        .bg_color_3 {
          width: 4.97px;
          height: 4.96px;
          border-radius: 50%;
          background-color: var.$bg-ink;
        }
        h4 {
          @include font.font(14, 400, 24);
          @media (max-width: 465px) {
            @include font.font(10, 400, 20);
          }
          .dark & {
            color: var.$bg-white;
          }
        }
      }
    }
  }
}
// .owl-nav {
//   display: block !important;
//   justify-content: center;
//   margin-top: 10px;
//   gap: 80px;
// }

// .owl-nav button {
//   position: relative;
//   top: -315px;
//   left: -20px;
//   width: 72px;
//   height: 72px;
//   border-radius: 50%;
//   background-color: var.$bg-white;
//   cursor: pointer;
// }

// .owl-nav button:hover {
//   background-color: #555;
// }
.company_website_teams {
  padding-top: 96px;
  background-color: var.$bg-ink;
  .dark & {
    background-color: var.$text-color;
  }
  .company_tema_texts_arrow {
    @include flx.flex(space-between, center, 28);
    @media (max-width: 490px) {
      flex-direction: column;
    }
    h2 {
      @include mix.width(500, 139);
      @include font.font(48, 400, 72);
      color: var.$bg-white;
      @media (max-width: 730px) {
        @include font.font(38, 400, 62);
      }
      @media (max-width: 630px) {
        @include font.font(28, 400, 52);
      }
    }
    .arrows_solid {
      padding-top: 60px;
      @include flx.flex(0, center, 28);
      div {
        @include flx.flex(center, center, 0);
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: var.$bg-white;
      }
    }
  }
  .owl-item {
    padding: 0 10px;
  }
  .comapany_teams_cards {
    padding-bottom: 96px;
    // @include flx.flex(space-between, 0, 40);
    margin-top: 72px;
    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
    .comapany_teams_card_1 {
      @include mix.width(350, 322);
      background-color: var.$bg-white;
      border-radius: 12px;
      @media (max-width: 1100px) {
        margin-top: 30px;
      }
      h5 {
        padding: 40px;
        @include font.font(24, 400, 36);
        @media (max-width: 390px) {
          @include font.font(18, 400, 30);
        }
      }
      .comapany_teams_card_name {
        img {
          width: 40px;
        }
        @include flx.flex(0, center, 16);
        padding: 0 40px 40px 40px;
        h4 {
          @include font.font(16, 700, 32);
          color: var.$bg-ink;
          @media (max-width: 327px) {
            @include font.font(13, 700, 28);
          }
        }
        p {
          @include font.font(14, 400, 32);
          color: var.$bg-ink;
          @media (max-width: 327px) {
            @include font.font(10, 700, 28);
          }
        }
      }
    }
  }
}
.connect {
  background-color: #fff;
  padding: 24px 0 158px;
  .dark & {
    background-color: #65e4a3;
  }
}
.connect img {
  width: 100%;
  margin: 0 0 56px 0;
}
@media (max-width: 500px) {
  .connect img {
    display: none;
  }
}
.connect--main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 1034px) {
  .connect--main {
    flex-direction: column;
  }
}
.connect--main h2 {
  max-width: 500px;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}
.connect--main__dropdown {
  width: 45%;
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1034px) {
  .connect--main__dropdown {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .connect--main__dropdown {
    width: 100%;
  }
}
.connect--main__dropdown div {
  position: relative;
  padding: 0 0 16px 0;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  transition: 0.5s;
}
.connect--main__dropdown div:hover ul {
  display: flex;
}
.connect--main__dropdown div:hover span::after {
  transform: rotate(180deg);
}
.connect--main__dropdown div span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.connect--main__dropdown div span::after {
  content: "";
  position: absolute;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/product/Group210.svg") no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.connect--main__dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  display: none;
}
.connect--main__dropdown ul li {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
}

.product_management {
  .dark & {
    background-color: var.$text-color;
  }
  h5 {
    padding-top: 156px;
    margin: 0 auto;
    @include mix.width(83, 32);
    @include font.font(20, 400, 32);
    color: var.$bg-grey;
    .dark & {
      color: var.$bg-white;
    }
  }
  h2 {
    padding-top: 12px;
    margin: 0 auto;
    text-align: center;
    @include mix.width(842, 144);
    @include font.font(48, 400, 72);
    @media (max-width: 506px) {
      @include font.font(33, 400, 62);
    }
    .dark & {
      color: var.$bg-white;
    }
  }
  .product_cards {
    padding-top: 79px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @media (max-width: 880px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .product_card {
      @media (max-width: 990px) {
        padding-top: 30px;
      }
      img {
        width: 100%;
      }
      h3 {
        padding-top: 12px;
        @include mix.width(300, 99);
        @include font.font(20, 400, 32);
        .dark & {
          color: var.$bg-white;
        }
      }
      .product_card_name {
        padding-top: 20px;
        @include flx.flex(0, center, 12);
        img {
          width: auto;
        }
        h4 {
          @include mix.width(300, 32);
          @include font.font(16, 400, 28);
          .dark & {
            color: var.$bg-white;
          }
        }
      }
      .product_card_number {
        @include flx.flex(0, center, 12);
        h4 {
          @include mix.width(72, 28);
          @include font.font(16, 700, 28);
          .dark & {
            color: var.$bg-white;
          }
        }
        p {
          @include mix.width(147, 28);
          @include font.font(16, 400, 28);
          color: var.$bg-grey;
          .dark & {
            color: var.$bg-white;
          }
        }
      }
    }
  }
  .product_button {
    padding-bottom: 124px;
    margin-top: 100px;
    @include flx.flex(center, center, 0);
    .product_card_btn {
      @include font.font(20, 700, 28);
      @include btns.btn(16px 56px 16px 56px, 56, 2);
      color: var.$bg-ink;
      border: 3px solid var.$bg-ink;
      background-color: var.$bg-white;
      transition: 0.5s;
      &:hover {
        background-color: var.$bg-green;
      }
    }
  }
}

.email {
  @include mix.bg(no, var.$color-ffffff, no);
  padding: 86px 0;
  .dark & {
    background-color: #0a2640;
    &--card {
      background-color: var.$color-0dbbfc;
      border: 2px solid var.$color-4fe9a4;
    }
    h2 {
      // color: var.$color-;
    }
  }

  &--card {
    @include mix.bg(url(../images/About/Ellipse.png), var.$color-0a2640, no);
    background-position: top right;
    @include mix.pad(72px 20px);
    border-radius: 12px;
    &__body {
      @include mix.width(ma, 716px);
      @include mix.ma(0 auto);
      h2 {
        @include mix.text(var.$color-ffffff, 48px, 400, 72px, center);
        @include mix.ma(0 0 48px 0);
        @media (max-width: 490px) {
          font-size: 38px;
          line-height: 50px;
        }
      }
    }
  }
  &--form {
    @include mix.flex(center, center, 24);
    @media (max-width: 702px) {
      flex-direction: column;
    }
    input {
      outline: none;
      @include mix.width(no, 370px);
      border-radius: 240px;
      border: 2px solid var.$color-ffffff;
      @include mix.pad(12px 32px);
      @include mix.text(var.$color-000000, 20px, 400, 32px);
      @media (max-width: 490px) {
        @include mix.width(no, 100%);
      }
      &::placeholder {
        @include mix.text(var.$color-000000, 20px, 400, 32px);
      }
      &:focus {
        box-shadow: inset 0 -4px 0 var.$color-65e4a3;
      }
    }
    button {
      @include mix.btn(16px 56px, var.$color-65e4a3, 56px);

      border: 2px solid var.$color-65e4a3;
      @include mix.text(var.$color-0a2640, 20px, 700, 28px);
      transition: 0.5s;
      &:hover {
        @include mix.btn(no, transparent, no);
        border: 2px solid var.$color-ffffff;
        color: var.$color-ffffff;
        box-shadow: inset 210px 0 5px var.$color-0a2640;
      }
    }
  }
}
