$color-0a2640: #0a2640;
$color-0dbbfc: #0dbbfc;
$color-777777: #777777;
$color-65e4a3: #65e4a3;
$color-8fb6d5: #8fb6d5;
$color-65e4a3: #65e4a3;
$color-f1f1f1: #f1f1f1;
$color-ffffff: #ffffff;
$color-000000: #000000;
$color-0a2640: #0a2640;
$color-95abbc: #95abbc;
$color-69e6a6: #69e6a6;
$color-009d10: #009d10;
$color-0dbbfc: #0dbbfc;
$color-ecaa00: #ecaa00;
$color-fc5b00: #fc5b00;
$color-ffffff2e: #ffffff2e;
$color-linear-gradient: linear-gradient(
  90deg,
  #0a2640 0%,
  rgba(10, 38, 64, 0.109375) 31.6%,
  rgba(10, 38, 64, 0) 72.89%,
  #0a2640 97.87%
);
$color-1c3d5b: #1c3d5b;
$color-c4c4c4: #c4c4c4;
$color-ffffff33: #ffffff33;
$color-4fe9a4: #4fe9a4;
$bg-ink: rgba(10, 38, 64, 1);
$text-color: rgba(0, 0, 0, 1);
$bg-green: rgba(101, 228, 163, 1);
$bg-white: rgba(255, 255, 255, 1);
$bg-grey: #777777;
